[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/yieldnest-flex-strategy"]
	path = lib/yieldnest-flex-strategy
	url = https://github.com/yieldnest/yieldnest-flex-strategy
[submodule "lib/safe-smart-account"]
	path = lib/safe-smart-account
	url = https://github.com/safe-fndn/safe-smart-account
